@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
   
}

/**{
    box-sizing: border-box;
}

*/
html {
    font-size: 1em;
}

body {
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    color: #3a3a3a;
   
    min-height: 100vh;

    /*
    display: flex;
    flex-direction: column;
    */
   
}

/*
main {
flex: 1;
}
 */


/* headings and logo */
h1{
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    font-family: "Capriola", Sans-serif;
   color: #28637e;
}

#logo {
    float: left;
    font-size: 2em;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 1.1rem;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    
    float: left;
    list-style-type: none;
    margin-right: 30px;
    }

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover { 
    border-bottom: 4px solid #9dff00;
}

.active {
    border-bottom: 4px solid #9dff00;
}

/* palacio salvo image */

/*#palacio-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
*/

#palacio-outer {
    height: 1000px;
    overflow: hidden;
    width: 100%;
    background: url(../images/palacio-salvo.jpg) no-repeat center center; 
    
   
  /*  position: absolute; */
    
}

/* #overlay {
    height: 900px;
    width: 100%;
    background-color: rgba(211, 166, 81, 0.6);
    
    position: absolute;
}

*/

#cover-text h2 {
    color:#fff;
}

#cover-text {
    font-size: 4rem;
    text-align: center;
    
    width: 400px;
    height: 200px;

    padding-top: 120px;
    margin: auto;
    
}

span {
    background-color: #6fabce;
    font-style: italic;
}


/* route section */

#route-section{ 
    height: auto;
}



#route-list-title {
    font-size: 1.5rem;
    line-height: 2.2em;
    padding-top: 30px;
    text-align: center;
    

}

.route {
    list-style-type:none;
    list-style-position: outside;
    color:white;
    text-align: center;
    line-height: 2.5em; 
    
    

     
}

 .route li {
    background: #6fabce;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 5px;  
    margin-top: 5px;
    margin-bottom: 5px;
    

}



/* photos */


div img {
    max-width: 25%; 
    padding: 20px; 
    border-radius: 30px;
}
 
/* how to center images: https://stackoverflow.com/questions/48473177/centering-3-images-in-css */

#photos {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  
}

/* iframe 

code to make round corners: https://stackoverflow.com/questions/5738985/is-it-possible-to-have-css-rounded-corners-on-an-iframe 

*/

#map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
  
}

iframe {
    margin: 10px; 
    border-radius: 10px;
    overflow: hidden;
}
/* table with days ,hour, language

how to make round corners to table: https://stackoverflow.com/questions/4932181/rounded-table-corners-css-only/4932321

*/

#table-section {
    
    height: 400px;
    margin-top: 50px;

    background-color: #ffffff;
   
}


table {
    width: 25%;
    
    border-collapse:separate; 
    border:solid white 2px;
    border-radius:6px;
    color: #3a3a3a;
    
      
   
    margin-bottom: 5px;
    font-size: 1.2rem;
  
    margin: 0 auto;
    position: relative;
    top: 20px;
}



tr, th, td {
	text-align: center;
    padding: 1rem;
    
    

}

td, th {
    border-left:solid white 2px;
    border-top:solid white 2px;
}

th {
    border-top: none;
    
}

td:first-child, th:first-child {
     border-left: none;
}

/* footer */

footer {
    height: 150px;
    background-color: #28637e;
   
    
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 2.5%;
    padding: 1%;
    color: white;
}

/* contact form */

.form-section {
    background-color: #ebdcca;
    height: 800px;
    position: relative;
    top: 75px;
}


.contact-form {
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
    position: relative;
    top: 100px;
    color: #3a3a3a;
  /*  background-color: #28637e; */
    background-image: linear-gradient(to right top, #ebdcca, #eee2d4, #f0e8dd, #f3eee7, #f6f4f1);
    border-radius: 20px;
    margin-bottom: 5px;
   
}

.contact-form > h2 {
    
    color: #3a3a3a; 
}

.text-input {
    
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.text-input:hover {
    border-color: #9dff00;
    
}


.textarea-form{
    border:1px solid #fafafa;
    width: 100%;
    border-radius: 5px;
}

.textarea-form:hover{
    
    border-color:#9dff00;
  }


.send-message {
    margin-top:20px;
    border-radius: 2px;
    padding:15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: white;
    color: #3a3a3a;
    display: block;
}

.send-message:hover {
    background-color: #3a3a3a;
    color: white;
}

/* contact-info div*/

.contact-info h2 i{
color: hsl(83, 100%, 50%);
font-size: 3rem;
}

.contact-info h2 {
    color: white;
    font-size: 2rem;
    letter-spacing: 4px;
    text-align: center;
}

.contact-info h3 {
    font-family: "Montserrat", Sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;

}

.contact-info {
    position: relative;
    top: 100px;
    float: right;
    margin: 30px;
}
 
/*  media queries  */


/*

@media screen and (max-width: 1550px){

   .route {
        width: 50%;
       
     margin: 0 auto;
    }

    #route-list-title{
        
        margin: 0 auto;
    }

    
   
}

@media screen and (max-width: 900px){

    div img {
        min-width: 85%;
        margin: 0 auto;
    }

    #photos {
       flex-direction:column;

    }

}
*/

/* grid */

.container {
    display: grid;
    height:100vh;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.2fr 2fr 1.5fr 1.5f 1.5f 1.5f;
    
    grid-gap: 0.2rem; 
}

.grid-item-1 { 
    grid-column: 1 / 2;
    background: red;

}
.grid-item-2 {
    grid-row-start: 4;
    grid-row-end: 5;
    background: yellow;
    
}

.grid-item-3 {
    background: yellow;
}

.grid-item-4 {
    background: yellow;
}

.grid-item-5 {
    background: yellow;
}

.grid-item-6 {
    background: yellow;
}





/*
@media screen and (max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows:  ;
    }
}

*/