@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

/*  made structure with grids from:    https://www.youtube.com/watch?v=68O6eOGAGqA&t=630s      */

:root{
    --main-radius:5px;
    --main-padding:5px;
}

html {
    font-size: 62.5%;
    }

    header h1 {
        font-family: "Capriola", serif;
        font-size: 3rem;
        color: rgb(65,105,225);
        float: left;
        margin-left: 2rem;   
    }
    
    ul{
        font-size: 1.6rem;
        float: right;
        line-height: 6rem;
    }
    
    ul li {
        float: left;
        list-style-type: none;
        margin-right: 2rem;
  
    }

    li a{
        color: rgb(65,105,225); 
        text-decoration: none;
    }
        








 /* grids */
.container{
    display:grid;
    height: 400vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.5fr 1.5fr 1.5fr 1.5fr 1.2fr 1.5fr 1.5fr 0.4fr;
    grid-template-areas:
     "nav nav nav"
     "main main main"
     "content1 content2 content3"
     "content4 content5 content5"
     "content6 content6 content7"
     "content8 content8 content8"
     "content9 content9 content9"
     "content10 content11 content11"
     "footer footer footer";
     grid-gap: 0.4rem;
     font-family: "Montserrat", sans-serif;
     
}


nav {
    background: rgb(211, 226, 211);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


main {
    background: greenyellow;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1{
    background: goldenrod;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2{
    background: rgb(155, 115, 15);
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3{
    background: rgb(78, 59, 11);
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content4{
    background: rgb(218, 116, 32);
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content5{
    background: rgb(245, 58, 1);
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content6{
    background: rgb(158, 15, 15);
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content7 {
    background: rgb(170, 99, 99);
    grid-area: content7;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content8 {
    background: rgb(228, 187, 187);
    grid-area: content8;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content9 {
    background: rgb(162, 78, 165);
    grid-area: content9;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content10 {
    background: rgb(226, 17, 216);
    grid-area: content10;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content11 {
    background: rgb(130, 99, 170);
    grid-area: content11;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer {
    background: rgb(92, 22, 184);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.4fr 2.5fr 1.2fr 1fr 1fr 1fr 1fr 2fr 1fr 2fr 0.8fr;
        grid-template-areas: 
        "nav nav nav"
        "main main main"
        "content2 content2 content2"
        "content1 content1 content3"
        "content4 content5 content5"
        "content6 content6 content7"
        "content8 content8 content8"
        "content9 content9 content9"
        "content10 content10 content10"
        "content11 content11 content11"
        "footer footer footer"; 
    }
}