@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", Sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: "Capriola", Sans-serif;
   color: #003259;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    
    float: left;
    list-style-type: none;
    margin-right: 30px;
    }

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover { 
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* palacio salvo image */

#palacio-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#palacio-salvo {
    height: 1000px;
    width: 100%;
    background: url(../images/palacio-salvo.jpg) no-repeat center center; 
    position: absolute;
    
}

#overlay {
    height: 900px;
    width: 100%;
    background-color: rgba(31, 166, 184, .6);
    
    position: absolute;
}

#cover-text h2 {
    color:#fff;
}

#cover-text {
    font-size: 70%;
    text-align: center;
    
    width: 400px;
    height: 200px;

    padding-top: 120px;
    margin: auto;
    
}


/* route section */


.route-list {
    margin-left: 150px;
   
}

#route-list-title {
    font-size: 110%;
    line-height: 2.2em;
    padding-top: 30px;
    

}

.route {
    list-style-type:square;
    color:#003259;
    list-style-position: inside;
    line-height: 2.5em;
   
    
}

/* photos */


div img {
    max-width: 25%; 
   /* float: right; */
   /* padding: 20px; */
    
}
 
/* how to center images: https://stackoverflow.com/questions/48473177/centering-3-images-in-css */

#photos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  
  
}

