@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

/*  made structure with grids from:    https://www.youtube.com/watch?v=68O6eOGAGqA&t=630s      */

:root{
    --main-radius:5px;
    --main-padding:5px;
}

html {
    font-size: 62.5%;
    color: rgb(29, 92, 151);
    }


/* navtab */

header h1 {
    font-family: "Capriola", serif;
    font-size: 3.5rem;
    color: rgb(29, 92, 151);
    float: left;
    margin-left: 2rem;   
}
    
ul {
    font-size: 1.6rem;
    float: right;
    line-height: 8rem;
}
    
ul li {
    float: left;
    list-style-type: none;
    margin-right: 2rem;
  
}

li a {
    color: rgb(29, 92, 151); 
    text-decoration: none;
}
        
a:hover {
    border-bottom: 4px solid rgb(238,164,127);
}

.active {
    border-bottom: 4px solid rgb(238,164,127);
}


/* main */

.palacio {
    background: url(../images/palacio-salvo-texture.jpg) no-repeat center center;
    background-size: cover;
}

.cover-text {
    height: 30rem;
    width: 40rem;
    background-color: rgba(228, 95, 19, 0.644);
    border-radius: 3rem;
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;
    padding: 2.5rem;
}

.cover-text h1 {
    font-family: "Capriola", serif;
    font-size: 5rem; 
    color: white;  
}
    
.cover-text h2 {
    font-family: "Capriola", serif;
    color: white;
    font-size: 2.2rem;
}

span {
    font-style: italic;
    color: rgb(238,164,127);
    background-color: white;
}

/* activities list content 2*/

/* how to style numbers in order list https://css-tricks.com/css-counters-custom-list-number-styling/ */

#content2 h2 {
    font-size: 5rem;
    padding-top: 2rem;
    text-align: center;
}

ol{
    list-style-type: none;
    counter-reset: my-awesome-counter;
}
    
ol li {
    counter-increment: my-awesome-counter;
    font-size: 1.8rem;
    line-height: 4rem;
    text-align: left;
    margin-left: 6rem;
    margin-right: 6rem;
}
    
ol li::before {
    content: "0" counter(my-awesome-counter);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    color:rgb(238,164,127);
    }
    
  
    
 /* images content1  */

 #content1, #content3, #content4, #content5, #content6, #content7{
    position: relative;
}

#content1 >img {
    width: 100%
}

#content1 h2{
 position: absolute;
 bottom: 2rem;
 left: 2rem;
 font-size: 2rem;
 color: white;
}

/* images content3  */
#content3>img {
    width: 100%;
}

#content3 h2 {
position: absolute;
bottom: 2rem;
left: 2rem;
font-size: 2rem;
color: white;
}
  


/* images content4  */
#content4 > img {
    width: 100%;
}

#content4 h2 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 2rem;
    color: white;
    }
      
/* images content5  */
#content5 > img {
    width: 100%;
}

#content5 h2 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 2rem;
    color: white;
    }
      
/* images content6  */
#content6 > img {
    width: 100%;
}

#content6 h2 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 2rem;
    color: white;
    }
      
/* images content7 */
#content7> img {
    width: 100%;
}
#content7 h2 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: 2rem;
    color: white;
    }
      
/*  text - content8 */

#content8 h2, h3 {
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    margin-top: 18rem;
}
#content8 h3 {
    font-size: 2.5rem;
    text-align: right;
    margin-right: 9rem;
}

/* iframe */

/* code to make round corners: https://stackoverflow.com/questions/5738985/is-it-possible-to-have-css-rounded-corners-on-an-iframe */





 /* grids */
.container{
    display:grid;
    height: 400vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.5fr 1.5fr 1.5fr 1.5fr 1.2fr 1.5fr 1.5fr 0.4fr;
    grid-template-areas:
     "nav nav nav"
     "main main main"
     "content1 content2 content3"
     "content4 content5 content5"
     "content6 content6 content7"
     "content8 content8 content8"
     "content9 content9 content9"
     "content10 content11 content11"
     "footer footer footer";
     grid-gap: 0.5rem;
     font-family: "Montserrat", sans-serif;
     
}


nav {
    background: rgb(238, 208, 193);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


main {
    background: greenyellow;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1{
    background: goldenrod;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2{
    background: rgb(238, 208, 193);
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3{
    background: rgb(78, 59, 11);
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content4{
    background: rgb(218, 116, 32);
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content5{
    background: rgb(245, 58, 1);
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content6{
    background: rgb(158, 15, 15);
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content7 {
    background: rgb(170, 99, 99);
    grid-area: content7;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content8 {
    background: rgb(238, 208, 193);
    grid-area: content8;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content9 {
    background: rgb(162, 78, 165);
    grid-area: content9;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content10 {
    background: rgb(226, 17, 216);
    grid-area: content10;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content11 {
    background: rgb(130, 99, 170);
    grid-area: content11;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer {
    background: rgb(92, 22, 184);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}


@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.4fr 2.5fr 1.2fr 1fr 1fr 1fr 1fr 2fr 1fr 2fr 0.8fr;
        grid-template-areas: 
        "nav nav nav"
        "main main main"
        "content2 content2 content2"
        "content1 content1 content3"
        "content4 content5 content5"
        "content6 content6 content7"
        "content8 content8 content8"
        "content9 content9 content9"
        "content10 content10 content10"
        "content11 content11 content11"
        "footer footer footer"; 
    }

    .cover-text {
        height: 25rem;
        width: 30rem;
    }

    .cover-text h1 {
        font-size: 4rem;
    }
    .cover-text h2 {
        font-size: 1.8rem;
    }




    }
