@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

.container{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
}