@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
   
}

*{
    box-sizing: border-box;
}


html {
    font-size: 1em;
}

body {
    font-family: "Open Sans", Sans-serif;
    font-weight: 400;
    color: #3a3a3a;
   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
   
}
main {
flex: 1;
}


/* headings and logo */
h1{
    font-size: 2rem;
}

h1, h2 {
    font-family: "Capriola", Sans-serif;
   color: #003259;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 1.1rem;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    
    float: left;
    list-style-type: none;
    margin-right: 30px;
    }

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover { 
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* palacio salvo image */

#palacio-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#palacio-salvo {
    height: 1000px;
    width: 100%;
    background: url(../images/palacio-salvo.jpg) no-repeat center center; 
    position: absolute;
    
}

#overlay {
    height: 900px;
    width: 100%;
    background-color: rgba(31, 166, 184, .6);
    
    position: absolute;
}

#cover-text h2 {
    color:#fff;
}

#cover-text {
    font-size: 70%;
    text-align: center;
    
    width: 400px;
    height: 200px;

    padding-top: 120px;
    margin: auto;
    
}


/* route section */

#route-section{
    height: auto;
}


#route-list-title {
    font-size: 1.5rem;
    line-height: 2.2em;
    padding-top: 30px;
    text-align: center;
    

}

.route {
    list-style-type:disc;
    list-style-position: outside;
    color:#003259;
    text-align: center;
    line-height: 2.5em; 
    
    

     
}

 .route li {
    background: #6fabce;
    width: 35%;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 5px;  
    margin-top: 5px;
    margin-bottom: 5px;
    

}



/* photos */


div img {
    max-width: 25%; 
    padding: 20px; 
    border-radius: 30px;
}
 
/* how to center images: https://stackoverflow.com/questions/48473177/centering-3-images-in-css */

#photos {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  
}

/* iframe 

code to make round corners: https://stackoverflow.com/questions/5738985/is-it-possible-to-have-css-rounded-corners-on-an-iframe 

*/

#map {
    border-radius: 10px;
    width:800px;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 150px;
    margin: 0 auto;
    
      
}

iframe {
    margin-bottom: 5px;
}
/* table with days ,hour, language

how to make round corners to table: https://stackoverflow.com/questions/4932181/rounded-table-corners-css-only/4932321

*/

#table-section {
    
    height: 400px;
    margin-top: 50px;
}


table {
    width: 25%;
    
    border-collapse:separate; 
    border:solid rgb(19, 211, 99) 1px;
    border-radius:6px;
      
   
    margin-bottom: 5px;
    font-size: 110%;
  
    margin: 0 auto;
}



tr, th, td {
	text-align: center;
    

}

td, th {
    border-left:solid rgb(19, 211, 99) 1px;
    border-top:solid rgb(19, 211, 99) 1px;
}

th {
    border-top: none;
    
}

td:first-child, th:first-child {
     border-left: none;
}

/* footer */

footer {
    height: 150px;
    background-color: #003259;
   
    
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 2.5%;
    padding: 1%;
    color: white;
}

/* contact form */


.contact-form {
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
    position: relative;
    top: 100px;
    color: pink;
    background-color: #003259;
    border-radius: 20px;
    margin-bottom: 5px;
   
}

.contact-form > h2 {
    
    color: #c51818; 
}

.text-input {
    
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.text-input:hover {
    border-color: #f16c6b;
    
}


.textarea-form{
    border:1px solid #fafafa;
    width: 100%;
    border-radius: 5px;
}

.textarea-form:hover{
    
    border-color: #f16c6b;
  }


.send-message {
    margin-top:20px;
    border-radius: 2px;
    padding:15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.send-message:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

 
/*  media queries  */



@media screen and (max-width: 1550px){

    .route {
        width: 50%;
       
     margin: 0 auto;
    }

    #route-list-title{
        width: 50%;
        margin: 0 auto;
    }

    
   
}

@media screen and (max-width: 800px){

    div img {
        min-width: 85%;
        margin: 0 auto;
    }

    #photos {
       flex-direction:column;

    }

}


