@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Open Sans", "Sans-serif";
    font-weight:400;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: "Capriola", "Sans-serif";
   color: #003259;
}

#logo {
    float: left;
    font-size: 200%;
}

/* navigation links */

#menu {
    font-size: 110%;
    float: right;
     
}

#menu li {
    
    float: left;
    list-style-type: none;
    margin-right: 30px;
    }