@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
   
}


*, *::before, *::after {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    color: #3a3a3a;
   
  /*  min-height: 100vh; */

    
    display: flex;
    flex-direction: column;
    
   
}


main {
flex: 1;
}



/* headings and logo */
h1{
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

h1, h2 {
    font-family: "Capriola", Sans-serif;
   color: #28637e;
}

#logo {
    float: left;
    font-size: 3rem;
    margin-left: 2rem;
    
}

/* navigation links */

#menu {
    font-size: 1.6rem;
    float: right;
}

#menu, #logo {
    line-height: 7.5rem;
}

#menu li {
    
    float: left;
    list-style-type: none;
    margin-right: 2rem;
    }

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover { 
    border-bottom: 4px solid #9dff00;
}

.active {
    border-bottom: 4px solid #9dff00;
}

/* palacio salvo image */

/*#palacio-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
*/

#palacio-outer {
    height: 1000px;
    width:100%;
    overflow: hidden; 
   
    background: url(../images/palacio-salvo.jpg) no-repeat center center; 
    
   
  /*  position: absolute; */
    
}

/* #overlay {
    height: 900px;
    width: 100%;
    background-color: rgba(211, 166, 81, 0.6);
    
    position: absolute;
}

*/

#cover-text h2 {
    color:#fff;
}

#cover-text {
    font-size: 3rem;
    
    text-align: center;
    
    width: 400px;
    height: 200px;
    padding-top: 2em;
    margin: auto;
    
}

span {
    background-color: #6fabce;
    font-style: italic;
}


/* route section */

#route-section{ 
    height: auto;
}



#route-list-title h2 {
    font-size: 3rem;
    line-height: 2em;
    padding-top: 2rem;
    text-align: center;
    

}

.route {
    list-style-type:none;
    list-style-position: outside;
    color:white;
    text-align: center;
    line-height: 2.5em; 
    
}

 .route li {
    background: #6fabce;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 1rem;  
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    

}



/* photos */
 


.grid-item-5, .grid-item-6, .grid-item-7 {
    
    width: 33%;
    padding: 1em; 
    border-radius: 30px;
    
}
 
/* how to center images: https://stackoverflow.com/questions/48473177/centering-3-images-in-css */

..grid-item-5, .grid-item-6, .grid-item-7 {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  
}

/* iframe 

code to make round corners: https://stackoverflow.com/questions/5738985/is-it-possible-to-have-css-rounded-corners-on-an-iframe 

*/

#map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
  
}

iframe {
    margin: 1rem; 
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    
}
/* table with days ,hour, language

how to make round corners to table: https://stackoverflow.com/questions/4932181/rounded-table-corners-css-only/4932321

*/

#table-section {
    
  /*  height: 400px; 
    margin-top: 3em; */

    background-color: #ffffff;
   
}


table {
    width: 33%;
    
    border-collapse:separate; 
    border:solid rgb(2, 0, 0) 2px;
    border-radius:6px;
    color: #3a3a3a;
    font-size: 1.5rem;
      
    margin: 0 auto;
   /* margin-bottom: 5px;
    
    position: relative;
    top: 20px;
    */
}



tr, th, td {
	text-align: center;
    padding: 1rem;
    
    

}

td, th {
    border-left:solid rgb(15, 0, 0) 2px;
    border-top:solid rgb(10, 0, 0) 2px;
}

th {
    border-top: none;
    
}

td:first-child, th:first-child {
     border-left: none;
}

/* footer */

footer {
  /*  height: 150px; */
    background-color: #28637e;
    
   
    
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 2.5%;
    padding: 1%;
    color: white;
}

/* contact form */

.form-section {
    background-color: #ebdcca;
  /*  height: 800px;*/
    position: relative;
    top: 75px;
}


.contact-form {
    margin: 0 auto;
    max-width: 30%;
    padding: 30px;
    position: relative;
    top: 100px;
    color: #3a3a3a;
  /*  background-color: #28637e; */
    background-image: linear-gradient(to right top, #ebdcca, #eee2d4, #f0e8dd, #f3eee7, #f6f4f1);
    border-radius: 20px;
    margin-bottom: 5px;
   
}

.contact-form > h2 {
    
    color: #3a3a3a; 
}

.text-input {
    
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.text-input:hover {
    border-color: #9dff00;
    
}


.textarea-form{
    border:1px solid #fafafa;
    width: 100%;
    border-radius: 5px;
}

.textarea-form:hover{
    
    border-color:#9dff00;
  }


.send-message {
    margin-top:20px;
    border-radius: 2px;
    padding:15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: white;
    color: #3a3a3a;
    display: block;
}

.send-message:hover {
    background-color: #3a3a3a;
    color: white;
}

/* contact-info div*/

.contact-info h2 i{
color: hsl(83, 100%, 50%);
font-size: 3rem;
}

.contact-info h2 {
    color: white;
    font-size: 2rem;
    letter-spacing: 4px;
    text-align: center;
}

.contact-info h3 {
    font-family: "Montserrat", Sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;

}

.contact-info {
    position: relative;
    top: 100px;
    float: right;
    margin: 30px;
}
 
/*  media queries  */


/*

@media screen and (max-width: 1550px){

   .route {
        width: 50%;
       
     margin: 0 auto;
    }

    #route-list-title{
        
        margin: 0 auto;
    }

    
   
}
*/
@media screen and (max-width: 550px){

    div img {
        min-width: 100%;
        margin: 0 auto;
    }

    .grid-item-5, .grid-item-6, .grid-item-7 {
       flex-direction:column;
      justify-content:  center;

    }

}


/* grid */
/*
.container {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 2.5rem;
    
    
    

}

.grid-item-1 { 
    grid-column-start: 1;
    grid-column-end: 6;
    background: red;

}
.grid-item-2 {
    grid-column-start: 5;
    grid-column-end: 6;
    
    background: rgb(70, 70, 4);
    
}

.grid-item-3 {
    background: yellow;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;

}

.grid-item-4 {
    background: rgb(182, 141, 27);
    grid-column-start: 3;
    grid-column-end:4;
}

.grid-item-5 {
    background: rgb(114, 190, 15);
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.grid-item-6 {
    background: rgb(86, 147, 172);
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.grid-item-7 {
    background: rgb(157, 169, 223);
    grid-column-start: 5;
    grid-column-end:6;
    grid-row-start: 4;
    grid-row-end: 5;
}

.grid-item-8 {
    background: rgb(87, 99, 163);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.grid-item-9 {
    background: rgb(32, 23, 160);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}

.grid-item-10 {
    
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: -1;
}

.grid-item-11 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

*/


/*
@media screen and (max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows:  ;
    }
}

*/