@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');
/*  made structure with grids from:    https://www.youtube.com/watch?v=68O6eOGAGqA&t=630s      */
:root{
--main-radius:5px;
}
html {
font-size: 62.5%;
color: rgb(29, 92, 151);
}
/* navtab */
header h1 {
font-family: "Capriola", serif;
font-size: 3.5rem;
color: rgb(29, 92, 151);
float: left;
margin-left: 2rem;  
}
nav ul {
font-size: 1.6rem;
float: right;
line-height: 8rem;
}
ul li {
float: left;
list-style-type: none;
margin-right: 2rem;
}
li a {
color: rgb(29, 92, 151); 
text-decoration: none;
}
a:hover {
border-bottom: 4px solid rgb(238,164,127);
}
.active {
border-bottom: 4px solid rgb(238,164,127);
}
/* main */
.palacio {
background: url(../images/palacio-texture.jpg) no-repeat center center;
background-size: cover;
}
.cover-text {
height: 30rem;
width: 40rem;
background-color: rgba(228, 95, 19, 0.644);
border-radius: 3rem;
margin: 0 auto;
margin-top: 10rem;
margin-bottom: 10rem;
text-align: center;
padding: 2.5rem;
}
.cover-text h1 {
font-family: "Capriola", serif;
font-size: 5rem; 
color: white;  
}
.cover-text h2 {
font-family: "Capriola", serif;
color: white;
font-size: 2.2rem;
}
span {
font-style: italic;
color: #fafafa; 
background-color: rgb(29, 92, 151);
}
/* activities list content 2*/
/* how to style numbers in order list https://css-tricks.com/css-counters-custom-list-number-styling/ */
/* how to make text underline offset: https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset */
#content2 h2 {
font-size: 5rem;
padding-top: 2rem;
text-align: center;
text-decoration: underline wavy rgb(238,164,127);
text-underline-offset: 1rem;
-webkit-text-decoration: underline wavy rgb(238,164,127);
}
ol{
list-style-type: none;
counter-reset: my-awesome-counter;
}
ol li {
counter-increment: my-awesome-counter;
font-size: 1.8rem;
line-height: 4rem;
text-align: left;
margin-left: 6rem;
margin-right: 6rem;
}
ol li::before {
content: "0" counter(my-awesome-counter);
font-weight: bold;
font-size: 3rem;
margin-right: 1.5rem;
font-family: 'Montserrat', sans-serif;
line-height: 1;
color:rgb(238,164,127);
}
/* images content1  */
#content1, #content3, #content4, #content5, #content6, #content7{
position: relative;
}
#content1 >img {
width:100%;
height: 100%;
border-radius: 5px;
}
#content1 h2{
position: absolute;
bottom: 2rem;
left: 2rem;
font-size: 2rem;
color: white;
}
/* images content3  */
#content3 img {
width: 100%;
height: 100%;
border-radius: 5px;
}
#content3 h2 {
position: absolute;
bottom: 2rem;
left: 2rem;
font-size: 2rem;
color: white;
}
/* images content4  */
#content4 > img {
width: 100%;
height: 100%;
border-radius: 5px;
}
#content4 h2 {
position: absolute;
bottom: 2rem;
left: 2rem;
font-size: 2rem;
color: white;
}
/* images content5  */
#content5 > img {
width: 100%;
height: 100%;
border-radius: 5px;
}
#content5 h2 {
position: absolute;
bottom: 2rem;
left: 2rem;
font-size: 2rem;
color: white;
}
/* images content6  */
#content6 > img {
width: 100%;
height: 100%;
border-radius: 5px;
}
#content6 h2 {
position: absolute;
bottom: 2rem;
left: 2rem;
font-size: 2rem;
color: white;
}
/* images content7 */
#content7> img {
width: 100%;
height: 100%;
border-radius: 5px;
}
#content7 h2 {
position: absolute;
bottom: 2rem;
left: 2rem;
font-size: 2rem;
color: white;
}
/*  text - content8 */
#content8 > h2, #content8 >h3 {
font-size: 4rem;
font-weight: 100;
text-align: center;
margin-top: 18rem;
}
#content8 >h3 {
font-size: 2.5rem;
text-align: right;
margin-right: 9rem;
}
/* content10 */
#content10 h3{
font-size: 2.5rem;
color: rgb(238, 208, 193);
font-weight:600;
text-align:center;
padding-right: 4rem;
padding-left: 4rem;
margin: 5rem;
line-height: 3rem;   
}
/* table */
#content11> h2 {
font-size: 4rem;
text-align: center;
padding-top: 4rem;
text-decoration: underline wavy rgb(238,164,127);
text-underline-offset: 1rem;
-webkit-text-decoration: underline wavy rgb(238,164,127);
}
table {
width: 60rem;
height: 30rem;
border-collapse:separate;
border:solid rgb(238,164,127) 2px;
border-radius:6px;
font-size: 1.5rem;
margin: 0 auto;
margin-top: 6.5rem;
margin-bottom: 3rem;
}
tr, th, td {
text-align: center;
padding: 1rem;
}
td, th {
border-left:solid rgb(238,164,127) 2px;
border-top:solid rgb(238,164,127) 2px;
}
th {
border-top: none;
}
td:first-child, th:first-child {
border-left: none;
}
/* iframe */
/* code to make round corners: https://stackoverflow.com/questions/5738985/is-it-possible-to-have-css-rounded-corners-on-an-iframe */
iframe {
width:100%;
border-radius: 10px;
overflow: hidden;
height: 50rem;
}
/* footer */
/* how to center footer, etc: instagram ( baby_wolf_codes ) */
.social-networks i {
font-size: 4rem;
margin: 2rem;
color: rgb(29, 92, 151);
}
footer a:hover {
border-bottom: none;
}
footer {
display: grid;
place-items: center;
}
/* contact page */
form{
font-size: 1.6rem;
max-width: 33%;
padding: 5rem;
margin: 0 auto;
border-radius: 5px;
}
.text-input {
font-family: "Montserrat", sans-serif;
width: 100%;
height: 25px; 
margin: 5px 0 20px 0;
border: 1px solid #fafafa;
border-radius: 5px;
}
.text-input:hover {
border-color: rgb(238,164,127);
}
.textarea-form{
font-family: "Montserrat", sans-serif;
border:1px solid #fafafa;
width: 100%;
border-radius: 5px;
}
.textarea-form:hover{
border-color:rgb(238,164,127);
}
.send-message {
margin:20px 0 20px;
border-radius: 5px;
padding:15px 32px 15px 32px;
text-align: center;
background-color: white;
color: rgb(238,164,127);
border-style: solid;
border-color: rgb(238,164,127);
font-size: 1.7rem;
float: right;
}
.send-message:hover {
background-color: rgb(238,164,127);
color: white;
}
/* content 13*/
.contact-guide{
padding: 5rem;
font-size: 1.8rem;
float: left;
}
.contact-guide li:first-child{
font-size: 3.5rem;
color: white;
}
/* grids */
.container{
display:grid;
height: 400vh;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 0.2fr 2.5fr 1.5fr 1.5fr 1.5fr 0.8fr 1.5fr 1.5fr 0.4fr;
grid-template-areas:
"nav nav nav"
"main main main"
"content1 content2 content3"
"content4 content5 content5"
"content6 content6 content7"
"content8 content8 content8"
"content10 content11 content11"
"content9 content9 content9"
"footer footer footer";
grid-gap: 0.5rem;
font-family: "Montserrat", sans-serif;
}
nav {
background: rgb(238, 208, 193);
grid-area: nav;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
main {
background: greenyellow;
grid-area: main;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content1{
background: rgb(238, 208, 193);
grid-area: content1;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content2{
background: rgb(238, 208, 193);
grid-area: content2;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content3{
background: rgb(238, 208, 193);
grid-area: content3;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content4{
background: rgb(238, 208, 193);
grid-area: content4;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content5{
background: rgb(238, 208, 193);
grid-area: content5;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content6{
background: rgb(238, 208, 193);
grid-area: content6;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content7 {
background: rgb(238, 208, 193);
grid-area: content7;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content8 {
background: rgb(248, 242, 242);
grid-area: content8;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content9 {
background: rgb(248, 242, 242);
grid-area: content9;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content10 {
background:  rgb(29, 92, 151);
grid-area: content10;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content11 {
background: rgb(238, 208, 193);
grid-area: content11;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
footer {
background: rgb(248, 242, 242);
grid-area: footer;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
.container-contact{
display:grid;
height: 100vh;
grid-template-columns:  1fr;
grid-template-rows: 0.1fr 1fr 0.1fr;
grid-template-areas:
"nav nav nav"
"content13 content12 content12"
"footer footer footer";
grid-gap: 0.5rem;
font-family: "Montserrat", sans-serif;
}
#content12 {
background: rgb(238, 208, 193);
grid-area: content12;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
#content13{
background: rgba(228, 95, 19, 0.644);
grid-area: content13;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
/* media queries */
@media only screen and (min-width: 549px) and (max-width:967px){
.container{
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 0.4fr 2.5fr 1.2fr 1fr 1fr 1fr 1fr 2fr 1fr 2fr 0.8fr;
grid-template-areas: 
"nav nav nav"
"main main main"
"content2 content2 content2"
"content1 content1 content3"
"content4 content5 content5"
"content6 content6 content7"
"content8 content8 content8"
"content10 content10 content10"
"content11 content11 content11"
"content9 content9 content9"
"footer footer footer"; 
}
table {
width: 50rem;
}
iframe {
height: 40rem;
}
form {
max-width: 60%;
}
}
@media only screen and (min-width: 321px) and  (max-width:548px){
.container{
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 0.4fr 2.5fr 1.2fr 1fr 1fr 1fr 1fr 2fr 1fr 2fr 0.8fr;
grid-template-areas: 
"nav nav nav"
"main main main"
"content2 content2 content2"
"content1 content1 content3"
"content4 content5 content5"
"content6 content6 content7"
"content8 content8 content8"
"content10 content10 content10"
"content11 content11 content11"
"content9 content9 content9"
"footer footer footer"; 
}
header {
display: grid;
place-items: center;
font-size: 1.5rem;   
}
header h1 {
margin-left: 0;
}
.cover-text {
height: 20rem;
width: 25rem;
margin-bottom: 8rem;
}
nav ul {
line-height: 1rem;
margin-right: 1.5rem;
}
.cover-text > h1 {
font-size: 3rem;
}
.cover-text > h2 {
font-size: 1.8rem;
}
#content2 > h2 {
font-size: 3rem;
}
.container-contact{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 0.1fr 0.8fr 0.1fr;
grid-template-areas:
"nav"
"content12"
"content13"
"footer";
grid-gap: 0.5rem;
font-family: "Montserrat", sans-serif;
}
form{
font-size: 1.6rem;
max-width: 75%;
}
form h2{
text-align: center;
}
.contact-guide{
padding: 5rem;
font-size: 1.3rem;
}
table{
width: 40%;
margin-bottom: 3rem;
}
#content11> h2 {
font-size: 3.5rem;
padding-top: 2rem;
}
nav ul li {
font-size: 1.5rem;
}
#content8 > h2{
font-size: 2rem;
margin-top: 5rem;
}
#content8 >h3 {
font-size: 1.5rem;
margin-right: 2rem;
margin-top: 1rem;
}
#content10 h3{
font-size: 1.8rem;
padding-right: 2rem;
padding-left: 2rem;
margin: 2.5rem;  
}
#content11 > h2 {
font-size: 3.5rem; 
}
.social-networks i {
font-size: 3rem;
margin: 1rem;
color: rgb(29, 92, 151);
}
iframe {
height: 40rem;
}
}
@media only screen and (max-width:320px){
.container{
height: 300vh;
grid-template-columns: 320px;
grid-template-rows: 0.4fr 2.5fr 1.2fr 1fr 1fr 1fr 1fr 2fr 1fr 2fr 0.8fr;
grid-template-areas: 
"nav"
"main"
"content2"
"content1"
"content3"
"content4"
"content5"
"content6"
"content7"
"content8"
"content10"
"content11"
"content9"
"footer"; 
}
header {
display: grid;
place-items: center;
font-size: 1.5rem;   
}
header h1 {
margin-left: 0;
}
header ul {
padding: 0;
margin: 0;
}
ul li {
margin: 1rem;
margin-left: 1.5rem;
}
.cover-text {
height: 17rem;
width: 17rem;
margin-bottom: 2rem;
margin-top: 2rem;
}
.cover-text> h1 {
font-size: 2.5rem;
}
.cover-text> h2 {
font-size: 1.4rem;
}
#content2 > h2 {
font-size: 3rem;
}
ol li {
font-size: 1.5rem;
}
#content8 > h2, #content8 >h3 {
font-size: 2rem;
margin-top: 5rem;
margin: 2rem;
}
#content8 >h3 {
font-size: 1.5rem;
margin-right: 2rem;
}
#content10 h3{
font-size: 1.8rem;
padding-right: 2rem;
padding-left: 2rem;
margin: 2.5rem;  
}
#content11 > h2 {
font-size: 1rem; 
}
table {
width: 40rem;
}
.container-contact{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: auto 0.7fr auto;
grid-template-areas:
"nav"
"content12"
"content13"
"footer";
grid-gap: 0.5rem;
font-family: "Montserrat", sans-serif;      
}
form{
font-size: 1.6rem;
max-width: 75%;
}
form h2{
text-align: center;
}
.contact-guide{
padding: 3rem;
font-size: 1.3rem;
}
table{
width: 50%;
margin-bottom: 3rem;
}
#content11 h2 {
font-size: 3.5rem;
padding-top: 2rem;
}
nav ul li {
font-size: 1.5rem;
}
.social-networks i {
font-size: 3rem;
margin: 1rem;
color: rgb(29, 92, 151);
}
iframe {
height: 40rem;
}
}
/* thank you page */
.content-thank-you{
display:grid;
grid-template-columns: 1fr;
grid-gap: 0.5rem;
font-family: "Montserrat", sans-serif;
background: rgba(228, 95, 19, 0.644);
text-align: center;
}
.content-thank-you > h1 {
display:grid;
margin-top: 30%;
font-size: 2.8rem;
}
.content-thank-you >h3 {
font-size: 1.6rem;
}